@font-face {
  font-family: GSB-ALT;
  src: url("../fonts/GoldplayAlt-SemiBold.ttf");
}

@font-face {
  font-family: GR-ALT;
  src: url("../fonts/GoldplayAlt-Regular.ttf");
}

@font-face {
  font-family: G-MID;
  src: url("../fonts/Goldplay-Medium.ttf");
}

@font-face {
  font-family: G-SB;
  src: url("../fonts/Goldplay-SemiBold.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  background-color: #000000;
  -webkit-transition: background 0.8s linear;
  transition: background 0.8s linear;
}

body * h1, body * h2, body * p, body * a, body * span {
  color: white;
}

body * .btn {
  background-color: #0F4C75;
  color: white;
  font-family: 'G-MID';
}

body * p, body * a {
  font-family: 'G-MID';
}

body * h1, body * h2, body * h3 {
  font-family: 'G-MID';
}

body * input {
  border-radius: 3px;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

header {
  background-color: #000;
  position: relative;
  z-index: 4;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-family: 'G-MID';
  font-size: 23px;
  color: white;
}

header nav .hamburger {
  width: 37px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

header nav .hamburger .bar, header nav .hamburger:before, header nav .hamburger:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: white;
  margin: 4px 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  z-index: 3;
}

header nav .hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

header nav .hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-4px, -3px);
          transform: rotate(45deg) translate(-4px, -3px);
}

header nav .hamburger.is-active .bar {
  opacity: 0;
}

header nav .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 47px;
  left: 100%;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.555);
  padding-top: 120px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
  padding: 0px 0px 114px 50px;
}

header nav .mobile-nav a {
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 0 66px 27px 0;
}

header nav .mobile-nav button {
  width: 50%;
  margin: 0 auto;
  margin: 20px 0px 0px 34px;
  padding: 7px 8px;
}

header nav .mobile-nav.is-active {
  left: 0%;
}

.banner {
  background-color: #1A171E;
  padding-bottom: 30px;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.banner .banner-text {
  padding-top: 20px;
}

.banner .banner-text h1 {
  font-size: 22px;
  padding-bottom: 20px;
  -webkit-animation: slideInFromLeft 1s ease-in;
          animation: slideInFromLeft 1s ease-in;
}

.banner .banner-images {
  padding-left: 30px;
}

.banner .banner-images .image {
  -webkit-animation: slideInFromRight 1s ease-in;
          animation: slideInFromRight 1s ease-in;
  width: 50%;
  padding-right: 30px;
}

.banner .banner-images #rounded-pic {
  padding-top: 7px;
}

.banner .toggle {
  /*  target the elemenent after the label*/
}

.banner .toggle .checkbox {
  opacity: 0;
  position: absolute;
}

.banner .toggle .label {
  width: 50px;
  height: 20px;
  margin: 18px auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.banner .toggle .ball {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 18px;
  background-color: rgba(219, 219, 219, 0.411);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.banner .toggle .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.banner .toggle .fa-moon, .banner .toggle .fa-sun {
  position: relative;
  color: black;
  z-index: 2;
}

.about-us {
  padding: 50px 0;
}

.about-us h2 {
  color: #BBE1FA;
  font-size: 19px;
  padding: 15px 0;
}

.about-us p {
  display: block;
  font-size: 14px;
  padding: 9px;
}

.about-us button {
  padding: 5px 24px;
  margin-top: 10px;
}

.our-work h2 {
  font-size: 23px;
  padding-bottom: 20px;
  color: #fff;
}

.our-work .card {
  background-color: rgba(15, 15, 15, 0.87);
  margin-bottom: 20px;
  padding: 39px 0;
  color: white;
}

.our-work .card .card-title {
  padding-bottom: 10px;
  font-size: 17px;
}

.our-work .card #first-title {
  color: #3282B8;
}

.our-work .card #second-title {
  color: #BBE1FA;
}

.our-work .card p {
  font-size: 12px;
}

.contact-us {
  margin: 70px 0;
}

.contact-us h3, .contact-us h4, .contact-us a, .contact-us p, .contact-us i {
  color: #BBE1FA;
}

.contact-us i {
  padding-right: 35px;
}

.contact-us .call, .contact-us .Email, .contact-us .Linkedin {
  padding-top: 10px;
}

.contact-us h3 {
  font-size: 17px;
}

.contact-us h2 {
  font-size: 23px;
  color: white;
  padding: 20px 0;
}

.contact-us h4 {
  font-size: 15px;
  padding-bottom: 30px;
}

.contact-us a {
  text-decoration: none;
  font-size: 15px;
}

.contact-us p {
  font-size: 15px;
}

.contact-us form {
  padding: 10px;
  margin-top: 70px;
  background-color: rgba(15, 15, 15, 0.87);
}

.contact-us form input, .contact-us form textarea {
  font-size: 14px;
  background-color: #2B2B2B;
  border: none;
  margin-top: 20px;
  padding: 10px;
}

.contact-us form button {
  width: 100%;
  margin: 20px auto 0;
  padding: 15px 0;
}

.executives #mobile {
  padding-top: 53px;
}

.executives #mobile .tabs {
  position: relative;
}

.executives #mobile .left-arrow, .executives #mobile .right-arrow {
  position: absolute;
}

.executives #mobile .right-arrow {
  right: 10px;
}

.executives h2 {
  font-size: 23px;
  color: white;
}

.executives .tabs {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.executives .tabs button {
  background: transparent;
  outline: none;
  border: none;
  width: 56px;
}

.executives .tabs li:first-child {
  margin: -27px 30px 0 0px;
  width: 16%;
}

.executives button.is-active {
  width: 100px;
}

.executives .tab-content {
  display: none;
}

.executives .tab-content.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.executives .tab-content.is-open .top h3, .executives .tab-content.is-open .top h4 {
  color: #BBE1FA;
}

.executives .tab-content.is-open .top .logo {
  width: 30%;
}

.executives .tab-content.is-open .item {
  text-align: end;
}

.executives .tab-content.is-open .col-12 {
  margin: 0 auto;
  text-align: center;
}

.executives .tab-content.is-open .top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.executives .tab-content.is-open .social-icons {
  padding-top: 40px;
}

.newsletter {
  position: relative;
}

.newsletter .container {
  background-color: #0f0f0f;
}

.newsletter .container span {
  font-size: 17px;
  padding-left: 10px;
}

.newsletter .container input {
  position: relative;
  font-size: 19px;
  background-color: #2B2B2B;
  border: none;
  padding: 10px 0;
  width: 100%;
  color: white;
  outline: none;
}

.newsletter .container button {
  position: absolute;
  right: 3%;
  font-size: 18px;
  margin-top: 3px;
}

.newsletter .big-brands {
  padding-top: 69px;
}

.newsletter .big-brands h2 {
  font-size: 23px;
  padding: 50px 0;
}

.newsletter .big-brands .image img {
  width: 76%;
  height: auto;
  padding-left: 26%;
}

.newsletter .big-brands .image:first-child img {
  margin-bottom: 43px;
}

footer {
  background-color: #2B2B2B;
  padding-top: 50px;
}

footer h2 {
  font-size: 23px;
  padding-bottom: 30px;
}

footer ul li {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}

footer ul li a {
  color: white;
}

footer .bottom p, footer .bottom a {
  font-size: 12px;
}

footer .bottom hr {
  height: 20px;
  width: 1px;
  color: white;
}

body.dark {
  background-color: white;
}

body.dark * h1, body.dark * h2, body.dark * p, body.dark * a, body.dark * span {
  color: #000;
}

body.dark * input, body.dark * textarea {
  background-color: #A7A5A5;
}

body.dark .banner, body.dark form {
  background-color: #EEEEEE;
}

body.dark .card {
  border: none;
  -webkit-box-shadow: 2px 2px 11px lightgray;
          box-shadow: 2px 2px 11px lightgray;
}

body.dark header, body.dark .card {
  background-color: #ffffff;
}

body.dark .toggle {
  /*  target the elemenent after the label*/
}

body.dark .toggle .checkbox {
  opacity: 0;
  position: absolute;
}

body.dark .toggle .label {
  width: 50px;
  height: 20px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body.dark .toggle .ball {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: rgba(219, 219, 219, 0.411);
  position: absolute;
  top: 0px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

body.dark .toggle .checkbox:checked + .label .ball {
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

body.dark .toggle .fa-moon, body.dark .toggle .fa-sun {
  position: relative;
  color: #ffff;
  z-index: 2;
}

body.dark .hamburger .bar, body.dark .hamburger:before, body.dark .hamburger:after {
  background-color: black;
}

body.dark .logo {
  color: black;
}

body.dark .mobile-nav {
  background-color: #d8d8d8b7;
}

body.dark .mobile-nav li, body.dark .mobile-nav a {
  color: black;
}

body.dark .executives .tab-content.is-open .top h3, body.dark .executives .tab-content.is-open .top h4 {
  color: #0F4C75;
}

body.dark .newsletter #top-container {
  background-color: #EEEEEE;
  padding: 40px 0;
}

body.dark .newsletter #top-container i {
  padding-left: 19px;
}

body.dark .newsletter #top-container span {
  font-size: 19px;
  padding-left: 20px;
}

body.dark .newsletter #top-container input {
  position: relative;
  font-size: 19px;
  background-color: #A7A5A5;
  border: none;
  padding: 10px 0;
  width: 90%;
}

body.dark .newsletter #top-container button {
  position: absolute;
  right: 6%;
  font-size: 18px;
  margin-top: 3px;
}

body.dark footer p {
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 8vh;
  }
  header #desktop-nav li a {
    color: white;
    font-size: 18px;
  }
  header #desktop-nav button {
    padding: 7px 6px;
    font-size: 17px;
  }
  .banner {
    height: 41.2vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }
  .banner .banner-text {
    -webkit-transform: translateY(26%);
            transform: translateY(26%);
    padding-top: 0px;
  }
  .banner .banner-text h1 {
    font-size: 25px;
    padding-bottom: 30px;
  }
  .banner .banner-text button {
    font-size: 18px;
  }
  .banner .banner-images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30px;
  }
  .banner .banner-images .image {
    width: 50%;
    padding-right: 9px;
  }
  .banner .banner-images #rounded-pic {
    padding-top: 19px;
  }
  .banner .toggle {
    /*  target the elemenent after the label*/
  }
  .banner .toggle .checkbox {
    opacity: 0;
    position: absolute;
  }
  .banner .toggle .label {
    width: 60px;
    height: 26px;
    margin: 29px 0;
  }
  .banner .toggle .ball {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 219, 219, 0.411);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .banner .toggle .checkbox:checked + .label .ball {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
  .banner .toggle .fa-moon, .banner .toggle .fa-sun {
    position: relative;
    color: black;
    z-index: 2;
  }
  .about-us .box, .about-us .box-2 {
    background-color: rgba(15, 15, 15, 0.87);
    width: 40%;
    height: 50%;
  }
  .about-us .box-2 {
    width: 10%;
  }
  .about-us h2 {
    font-size: 24px;
    padding: 4px 0;
  }
  .about-us p {
    font-size: 15px;
    padding: 3px;
    line-height: 24px;
  }
  .our-work h2 {
    font-size: 27px;
    padding-bottom: 20px;
  }
  .our-work .card {
    background-color: rgba(15, 15, 15, 0.87);
    margin-bottom: 20px;
    padding: 39px 27px;
    color: white;
  }
  .our-work .card .card-title {
    padding-bottom: 10px;
    font-size: 17px;
  }
  .our-work .card p {
    font-size: 12px;
  }
  .contact-us {
    margin-top: 70px;
  }
  .contact-us h3, .contact-us h4, .contact-us a, .contact-us p, .contact-us i {
    color: #BBE1FA;
  }
  .contact-us i {
    padding-right: 35px;
  }
  .contact-us .call, .contact-us .Email, .contact-us .Linkedin {
    padding-top: 10px;
  }
  .contact-us h3 {
    font-size: 17px;
  }
  .contact-us h2 {
    font-size: 23px;
    color: white;
    padding: 20px 0;
  }
  .contact-us h4 {
    font-size: 15px;
    padding-bottom: 30px;
  }
  .contact-us a {
    text-decoration: none;
    font-size: 15px;
  }
  .contact-us p {
    font-size: 15px;
  }
  .contact-us form {
    padding: 10px;
    margin-top: 0px;
  }
  .contact-us form input, .contact-us form textarea {
    font-size: 15px;
    background-color: #2B2B2B;
    border: none;
    margin-top: 20px;
    padding: 10px;
  }
  .contact-us form button {
    width: 50%;
    margin: 20px auto 0;
  }
  .executives {
    padding-top: 70px;
  }
  .executives .tabs {
    padding-top: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .executives .tabs button {
    background: transparent;
    outline: none;
    border: none;
    width: 91%;
  }
  .executives .tabs li:first-child {
    margin: -15px -3px 0;
    width: 25%;
  }
  .executives button.is-active {
    width: 100%;
  }
  .executives .tab-content.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
  .executives .tab-content.is-open .top .logo {
    width: 35%;
  }
  .executives .tab-content.is-open .top .text {
    text-align: start;
  }
  .executives .tab-content.is-open .top .text h3 {
    font-size: 22px;
  }
  .executives .tab-content.is-open .top .text h4 {
    font-size: 20px;
  }
  .executives .tab-content.is-open .item {
    text-align: end;
  }
  .executives .tab-content.is-open .item img {
    width: 238px;
    height: auto;
  }
  .executives .tab-content.is-open .right {
    padding-right: 31px;
  }
  .executives .tab-content.is-open .col-12 {
    margin: 0 auto;
    text-align: center;
  }
  .executives .tab-content.is-open .top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .executives .tab-content.is-open .top .text h3 {
    font-size: 22px;
  }
  .executives .tab-content.is-open .top .text h4 {
    font-size: 18px;
  }
  .executives .tab-content.is-open span {
    font-size: 15px;
    text-align: left;
  }
  .executives .tab-content.is-open .social-icons {
    padding-top: 40px;
  }
  .newsletter {
    position: relative;
    padding-bottom: 120px;
  }
  .newsletter #top-container {
    background-color: rgba(15, 15, 15, 0.87);
    padding: 40px 0;
  }
  .newsletter #top-container i {
    padding-left: 19px;
  }
  .newsletter #top-container span {
    font-size: 19px;
    padding-left: 20px;
  }
  .newsletter #top-container input {
    position: relative;
    font-size: 19px;
    background-color: #2B2B2B;
    border: none;
    padding: 10px 0;
    width: 90%;
  }
  .newsletter #top-container button {
    position: absolute;
    left: 78%;
    font-size: 12px;
    padding: 9px 25px;
  }
  .newsletter .big-brands {
    position: absolute;
    bottom: -116px;
    padding-top: 69px;
  }
  .newsletter .big-brands .container {
    margin-left: -5px;
  }
  .newsletter .big-brands .container h2 {
    font-size: 24px;
    padding: 50px 0 0;
  }
  .newsletter .big-brands .container .image img {
    width: 100%;
    height: auto;
    padding-left: 0;
  }
  .newsletter .big-brands .container .image:first-child img {
    margin-bottom: 0px;
  }
  footer {
    background-color: #2B2B2B;
    padding-top: 128px;
  }
  footer h2 {
    font-size: 23px;
    padding-bottom: 30px;
  }
  footer ul li {
    font-size: 16px;
    color: white;
    padding-bottom: 20px;
  }
  footer ul li a {
    color: white;
  }
  footer .bottom p, footer .bottom a {
    font-size: 12px;
  }
  footer .bottom hr {
    height: 20px;
    width: 1px;
    color: white;
  }
  body.dark nav .logo {
    font-family: 'G-MID';
    font-size: 24px;
    color: black;
  }
  body.dark nav #desktop-nav li {
    padding-right: 20px;
  }
  body.dark nav #desktop-nav li a {
    color: black;
    font-size: 18px;
  }
  body.dark .toggle {
    /*  target the elemenent after the label*/
  }
  body.dark .toggle .checkbox {
    opacity: 0;
    position: absolute;
  }
  body.dark .toggle .label {
    width: 60px;
    height: 26px;
  }
  body.dark .toggle .ball {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 219, 219, 0.411);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }
  body.dark .toggle .checkbox:checked + .label .ball {
    -webkit-transform: translateX(37px);
            transform: translateX(37px);
  }
  body.dark .toggle .fa-moon, body.dark .toggle .fa-sun {
    position: relative;
    color: #ffff;
    z-index: 2;
  }
  body.dark .box, body.dark .box-2 {
    background-color: #EEEEEE;
  }
  body.dark .newsletter {
    position: relative;
    padding-bottom: 120px;
  }
  body.dark .newsletter #top-container i {
    padding-left: 19px;
  }
  body.dark .newsletter #top-container span {
    font-size: 19px;
    padding-left: 20px;
  }
  body.dark .newsletter #top-container input {
    position: relative;
    font-size: 19px;
    padding: 10px 0;
    width: 90%;
  }
  body.dark .newsletter #top-container button {
    left: 78%;
    font-size: 12px;
    padding: 8px 25px;
    margin-top: 3px;
  }
}

@media screen and (min-width: 1200px) {
  body.dark nav .logo {
    font-family: 'G-MID';
    font-size: 34px;
    color: black;
  }
  body.dark nav #desktop-nav li {
    padding-right: 20px;
  }
  body.dark nav #desktop-nav li a {
    color: black;
    font-size: 24px;
  }
  body.dark nav #desktop-nav button {
    padding: 10px 33px;
    font-size: 20px;
    outline: none;
    background-color: #0F4C75;
  }
  body.dark .banner .banner-text h1 {
    -webkit-animation: slideInFromLeft 1.5s ease-in;
            animation: slideInFromLeft 1.5s ease-in;
  }
  body.dark .toggle {
    /*  target the elemenent after the label*/
  }
  body.dark .toggle .checkbox {
    opacity: 0;
    position: absolute;
  }
  body.dark .toggle .label {
    width: 60px;
    height: 26px;
    margin: 60px 15px;
  }
  body.dark .toggle .ball {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 219, 219, 0.411);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }
  body.dark .toggle .checkbox:checked + .label .ball {
    -webkit-transform: translateX(37px);
            transform: translateX(37px);
  }
  body.dark .toggle .fa-moon, body.dark .toggle .fa-sun {
    position: relative;
    color: #ffff;
    z-index: 2;
  }
  body.dark .box, body.dark .box-2 {
    background-color: #EEEEEE;
  }
  body.dark .newsletter #top-container {
    padding: 90px 0;
  }
  body.dark .newsletter #top-container i {
    padding-left: 19px;
  }
  body.dark .newsletter #top-container span {
    font-size: 30px;
    padding-left: 20px;
  }
  body.dark .newsletter #top-container input {
    font-size: 19px;
    padding: 19px 0 19px 12px;
    width: 81%;
  }
  body.dark .newsletter #top-container button {
    margin: 5px 0;
    padding: 9px 12px;
    left: 79%;
    font-size: 20px;
  }
  header {
    height: 12vh;
  }
  header nav .logo {
    font-family: 'G-MID';
    font-size: 34px;
    color: white;
  }
  header nav #desktop-nav li {
    padding-right: 20px;
  }
  header nav #desktop-nav li a {
    color: white;
    font-size: 24px;
  }
  header nav #desktop-nav button {
    padding: 10px 33px;
    font-size: 20px;
    outline: none;
    background-color: #0F4C75;
  }
  .banner {
    height: 85.8vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
  }
  .banner .banner-text {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    padding-top: 40px;
  }
  .banner .banner-text h1 {
    -webkit-animation: slideInFromLeft 1.5s ease-in-out;
            animation: slideInFromLeft 1.5s ease-in-out;
    font-size: 40px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner-text h1 span {
    padding-top: 12px;
  }
  .banner .banner-text button {
    padding: 10px 24px;
    font-size: 20px;
  }
  .banner .banner-images {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-left: 30px;
  }
  .banner .banner-images .image {
    width: 41%;
    padding-right: 9px;
    -webkit-animation: slideInFromBottom 1.0s ease-in-out;
            animation: slideInFromBottom 1.0s ease-in-out;
  }
  .banner .banner-images #rounded-pic {
    padding-top: 16px;
    -webkit-animation: slideInFromRight 1.0s ease-in-out;
            animation: slideInFromRight 1.0s ease-in-out;
  }
  .banner .toggle {
    /*  target the elemenent after the label*/
  }
  .banner .toggle .checkbox {
    opacity: 0;
    position: absolute;
  }
  .banner .toggle .label {
    width: 60px;
    height: 26px;
    margin: 60px 15px;
  }
  .banner .toggle .ball {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 219, 219, 0.411);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .banner .toggle .checkbox:checked + .label .ball {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
  .banner .toggle .fa-moon, .banner .toggle .fa-sun {
    position: relative;
    color: black;
    z-index: 2;
  }
  .about-us {
    padding-top: 150px;
  }
  .about-us .box, .about-us .box-2 {
    background-color: rgba(15, 15, 15, 0.87);
    width: 20%;
    height: 40%;
  }
  .about-us .box-2 {
    width: 10%;
  }
  .about-us h2 {
    font-size: 37px;
    padding: 6px 0;
  }
  .about-us p {
    font-size: 26px;
    padding: 3px;
    line-height: 34px;
  }
  .about-us button {
    font-size: 19px;
  }
  .our-work {
    padding: 200px 0 0 0;
  }
  .our-work h2 {
    font-size: 45px;
    padding-bottom: 61px;
  }
  .our-work .card {
    background-color: rgba(15, 15, 15, 0.87);
    margin-bottom: 20px;
    padding: 68px 26px;
    color: white;
    margin-right: 30px;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
  .our-work .card .card-title {
    padding-bottom: 20px;
    font-size: 30px;
  }
  .our-work .card p {
    font-size: 23px;
  }
  .our-work .card p span {
    padding-bottom: 12px;
  }
  .our-work .card:hover {
    -webkit-box-shadow: 2px 2px 11px #504e4e;
            box-shadow: 2px 2px 11px #504e4e;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .executives {
    padding-top: 200px;
  }
  .executives h2 {
    font-size: 45px;
    padding-bottom: 61px;
  }
  .executives .tabs {
    padding: 0 103px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .executives .tabs button {
    background: transparent;
    outline: none;
    border: none;
    width: 90%;
  }
  .executives .tabs li:first-child {
    margin: -27px -3px;
    width: 16%;
  }
  .executives button.is-active {
    width: 105%;
  }
  .executives .tab-content {
    display: none;
  }
  .executives .tab-content.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
  .executives .tab-content.is-open .top .logo {
    width: 35%;
  }
  .executives .tab-content.is-open .top .text {
    text-align: start;
  }
  .executives .tab-content.is-open .top .text h3 {
    font-size: 22px;
  }
  .executives .tab-content.is-open .top .text h4 {
    font-size: 20px;
  }
  .executives .tab-content.is-open .item {
    text-align: end;
  }
  .executives .tab-content.is-open .item img {
    width: 531px;
    height: auto;
  }
  .executives .tab-content.is-open .right {
    padding-right: 118px;
  }
  .executives .tab-content.is-open .col-12 {
    margin: 0 auto;
    text-align: center;
  }
  .executives .tab-content.is-open .top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .executives .tab-content.is-open .top .text h3 {
    font-size: 30px;
  }
  .executives .tab-content.is-open .top .text h4 {
    font-size: 28px;
  }
  .executives .tab-content.is-open span {
    font-size: 21px;
    text-align: left;
  }
  .executives .tab-content.is-open .social-icons {
    padding-top: 40px;
  }
  .contact-us {
    margin-top: 0px;
    padding-top: 200px;
  }
  .contact-us i {
    padding-left: 18px;
    width: 30%;
  }
  .contact-us .call, .contact-us .Email, .contact-us .Linkedin {
    padding-top: 60px;
    padding-right: 250px;
  }
  .contact-us h3 {
    font-size: 35px;
    padding-top: 60px;
  }
  .contact-us h2 {
    font-size: 39px;
    color: white;
    padding: 20px 0;
  }
  .contact-us h4 {
    font-size: 25px;
    padding-bottom: 40px;
  }
  .contact-us .inner {
    padding-left: 118px;
  }
  .contact-us a, .contact-us p {
    font-size: 20px;
  }
  .contact-us form {
    padding: 20px 30px;
    margin-top: 0px;
    margin-left: 20px;
    width: 506px;
    border-radius: 5px;
  }
  .contact-us form input, .contact-us form textarea {
    font-size: 18px;
    margin-top: 20px;
    padding: 19px;
    border-radius: 5px;
  }
  .contact-us form button {
    margin: 20px auto 0;
    font-size: 24px;
  }
  .newsletter {
    padding: 218px 0;
  }
  .newsletter #top-container {
    padding: 90px 0;
  }
  .newsletter #top-container i {
    padding-left: 19px;
  }
  .newsletter #top-container span {
    font-size: 30px;
    padding-left: 20px;
  }
  .newsletter #top-container input {
    font-size: 19px;
    padding: 19px 0 19px 12px;
    width: 81%;
  }
  .newsletter #top-container button {
    margin: 5px 0;
    padding: 9px 12px;
    left: 79%;
    font-size: 20px;
  }
  .newsletter .big-brands {
    position: absolute;
    bottom: -178px;
    padding-top: 69px;
    width: 1320px;
  }
  .newsletter .big-brands .container {
    margin-left: -5px;
  }
  .newsletter .big-brands .container h2 {
    font-size: 30px;
    padding: 50px 0 0;
  }
  .newsletter .big-brands .container .image img {
    width: 100%;
    height: auto;
    padding-left: 0;
  }
  .newsletter .big-brands .container .image:first-child img {
    margin-bottom: 0px;
  }
  footer {
    background-color: #2B2B2B;
    padding-top: 225px;
  }
  footer h2 {
    font-size: 30px;
  }
  footer ul {
    padding: 25px 0 18px;
  }
  footer ul li a {
    color: #ffffff;
    font-size: 24px;
  }
  footer .bottom p, footer .bottom a {
    font-size: 22px;
    padding: 0  15px;
  }
  footer .bottom hr {
    height: 57px;
  }
}
/*# sourceMappingURL=style.css.map */